html,
body {
    display: flex;
    flex-direction: column;
    background-color: #fffcf5;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    max-height: 100vh;
}

header {
    display: block;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #579BB1;
    padding: 5px;
    position: relative;
}

main {
    display: flex;
    align-items: center;
    text-align: center;
}

h1 {
    color: #fffcf5;
    padding: 30px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: center;
}

.justify {
    text-align: justify;
    text-indent: 30px;
}

.intro {
    font-family: 'Montserrat';
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.divideIn2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 40px;
    padding: 0;
    width: 80%;
    flex-wrap: wrap;
}

#calcContainer {
    background-color: #bcd7e0;
    padding: 10px 20px;
    width: 400px;
    border-radius: 25px
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

#height {
    width: 150px;
    height: 25px;
}

#weight {
    width: 150px;
    height: 25px;
    margin-top: 10px;
}

label {
    font-family: 'Montserrat';
}

input[type="number"] {
    border-radius: 25px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Montserrat';
}

#submit {
    width: 120px;
    height: 35px;
    margin-top: 10px;
    box-shadow: 0px 3px 5px 0px #828282;
    background: linear-gradient(to bottom, #FFF 5%, #d1d1d1 100%);
    border-radius: 42px;
    border: 1px solid #c7c7c7;
    cursor: pointer;
    color: #276878;
    font-family: Arial;
    font-size: 17px;
    padding: 0px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #c6caf7;
    transition: background-color 1s;
}

#submit:hover {
    transition: background-color, 0.8s;
    color: #782727;
    background: linear-gradient(to bottom, #d1d1d1 5%, #FFF 100%);
}

#submit:active {
    transition: 0.8s;
    position: relative;
    top: 1px;
}

#result {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 35px;
    height: 35px;
    font-size: 30px;
    color: #bcd7e0;
    font-family: 'Montserrat';
    text-shadow: 0px 0px 1px #000000;
    transition: 1s;
}

table,
td {
    border-radius: 10px;
    font-size: small;
    border-collapse: collapse;
    border-top: #bcd7e0 solid;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    overflow-x: auto;
    font-family: 'Montserrat';
    background-color: #fffcf5;
}

th {
    border-bottom: #bcd7e0 solid;
    border-radius: 25px;
    padding: 10px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.note {
    font-family: 'Montserrat';
    width: 400px;
}

#warning {
    color: red;
    font-family: 'Montserrat', sans-serif;
}

footer {
    padding: 20px 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    background-color: #e8e1d5;
    margin-bottom: 0px;
    margin-top: auto;
}